# Auto detect text files and perform LF normalization
* text=auto

# Handle line endings of files explicitly
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.css text eol=lf
*.scss text eol=lf
*.md text eol=lf
*.sql text eol=lf
Dockerfile text eol=lf
.gitignore text eol=lf
.npmrc text eol=lf

# Deny binary files from normalization
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
*.pdf binary
